<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-ffmpeg-with-progress"
        version="2.0.8">

  <name>FFMpeg</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>


  <js-module name="ffmpeg" src="www/ffmpeg.js">
    <clobbers target="ffmpeg" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FFMpeg">
        <param name="android-package" value="com.stillkonfuzed.plugin.FFMpeg"/>
      </feature>
    </config-file>

    <source-file src="src/android/FFMpeg.java" target-dir="src/com/stillkonfuzed/plugin/"/>
    <!-- ffmpeg kit framework for android using gradle -->
    <framework custom="true" src="src/android/ffmpeg-kit.gradle" type="gradleReference" />
    <resource-file src="src/android/libs/ffmpeg-kit-min-gpl/4.5.1-1.LTS/ffmpeg-kit-min-gpl-4.5.1-1.LTS.aar" target="libs/ffmpeg-kit-min-gpl-4.5.1-1.LTS.aar" />
    <resource-file src="src/android/libs/smart-exception-common/0.1.1/smart-exception-common-0.1.1.jar" target="libs/smart-exception-common-0.1.1.jar" />
    <resource-file src="src/android/libs/smart-exception-java/0.1.1/smart-exception-java-0.1.1.jar" target="libs/smart-exception-java-0.1.1.jar" />

  </platform>
</plugin>
